/*分辨率小于1000的适应*/
@media(max-width: 500px){
.brief-img{
   text-align: center;
}
.brief-left{
		margin-top: 0px;
		width: 100%;
}
.brief-text{
	width: 100%;
	text-align: center;
	font-size: 13px;
}
.brief-text p{
	margin-left: 0px;
}
.brief-right{
	width: 30%;
}















}
