html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, main {
    display: block;
}

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*--------------------------------Primary style-------------------------------- */
html * {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-size: 100%;
    font-family:"微软雅黑", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif ;
    color: #3d3536;
    background-color: white;
}
a {
    color: #fc6717;
    text-decoration: none;
}

/*--------------------------------Ê×Ò³index------------------------------- */


/*--------------------------------ÊµÌåµêÉý¼¶store------------------------------- */


/*--------------------------------¸²¸ÇÇøÓòcoverage------------------------------- */


/*--------------------------------¹ØÓÚÎÒÃÇcompany------------------------------- */


/*--------------------------------ÆóÒµÕÐÆ¸recruit------------------------------- */


/*--------------------------------´úÈëÎ´À´future------------------------------- */
.clear{clear: both;}
#brief{
    width: 100%;
    position: relative;
   
}
.main{width: 80%;margin: 0 auto;padding: 30px 0;}
.brief-lft{
  
    width: 50%;
    float: left;
    
}
.brief-lft span{display: block;width: 100%;height: 88px;background:url(../images/gonsi.png) no-repeat right center;float: right;}
.brief-lft p{float: right;margin: 40px 0;width: 73%;max-height: 100px;line-height: 25px;font-size: 14px;}

.brief-right{
    width: 50%;
    float: right;
    position: relative;
}
.brief-right .box{width: 400px;height: 400px;border-radius: 50%;border: 20px solid #f3f3f3;border-left-color: transparent; position: relative;margin-top: 10%;}
.brief-right .box a{display: block;width: 90%;height: 90%;border-radius: 50%;margin: 5% auto 0 auto;position: relative;z-index: 5;}
.brief-right .box a img{width: 100%;height: 100%;border-radius: 50%;}
.brief-right .box .bottom{width: 70%;height: 70%;border-radius: 50%;background-color: yellow;position: absolute;right: -15%;bottom: -5%;z-index: 4;}
.brief-right .box .box_text{width: 50%;height: 50%;border-radius: 50%;background-color: #2e2e2e;position: absolute;left: -6%;bottom: -6%;z-index: 10;color: #fff;text-align: center;font-size: 20px;padding-top: 18%}
#brief .main_bottom{width: 100%;height: 100px;background-color: #444444;position: absolute;bottom: 0px; z-index: 3;}
#brief>p{border:1px solid #333;position: absolute;top: 15%;line-height: 45px;padding: 0 10px;border-left-color: transparent;width: 39%;text-align: right;}


.content {width: 100%;background:url(../images/99.png) no-repeat;background-size: 100% 100%;border: 1px solid transparent;}
.content .main{width: 900px;height: 900px;border-radius: 50%;border:1px solid #333;margin: 50px 0 50px 20%;}
.content .main>div:nth-of-type(2){margin: 17% 0 10% 10%;text-align: right;height: 230px;}
.content .main>div:nth-of-type(3){height: 200px;width: 100%}
.content .main>div{width: 75%;position: relative;}
.content .main>div p{font-style: italic;transform: skewX(-15deg); color: #333;line-height: 25px;position: absolute;font-size: 14px;}
.content .main>div:nth-of-type(1) p:nth-of-type(1) em{position: absolute;left: -24%}
.content .main>div:nth-of-type(2) p:nth-of-type(1) em{position: absolute;right: -24%}
.content .main>div:nth-of-type(3) p:nth-of-type(1) em{position: absolute;left: -45%;top: 68%;}
.content .main>div:nth-of-type(1) p{top: 50%;left: 15%;}
.content .main>div:nth-of-type(2) p{float: left;}
.content .main>div:nth-of-type(3) p{right: 0;width: 63%}
/*.content .main>div .box{position: absolute;}*/
.content .main>div .box{border-radius:50%;}
.content .main>div:nth-of-type(1) .box{width: 240px;height: 240px;background-color: #ffed8a}
.content .main>div:nth-of-type(2) .box{width: 165px;height: 165px;background-color:#f46262;position: absolute;right: -30%;top: -40%;}
.content .main>div:nth-of-type(3) .box{width: 130px;height: 130px;background-color: #fc6717;position: absolute;left: 13%;top: -10%}

.content .main>div .box span{display: block;width: 200px;height: 40px;position: absolute;z-index: 5;background-size: 100% 100%;}
.content .main>div:nth-of-type(1) .box span{background: url(../images/content-title1.png) no-repeat;top: 25%;left: -3%;background-size: 100% 100%;}
.content .main>div:nth-of-type(2) .box i{top: -63%;left: 20%;transform: rotate(25deg);width: 0;height: 0;overflow: hidden;border-top: 80px solid transparent;border-left: 80px solid transparent;border-right: 80px solid transparent; border-bottom : 180px solid #ffde00 ;display: block;position: absolute;}
.content .main>div:nth-of-type(2) .box span{background:url(../images/content-title5.png) no-repeat;top: 30%;left: -20%;background-size: 100% 100%;}
.content .main>div:nth-of-type(3) .box span{background:url(../images/content-title3.png) no-repeat;top: 24%;left: -13%;background-size: 100% 100%;}
.three {width: 0;height: 0;overflow: hidden;border-left: 4px solid transparent;border-right: 4px solid transparent;display: block;position: absolute;transition: all 0.6s}
.top{border-bottom: 4px solid #ddd;right: 3px;top: 15px;}
       

#foot{width: 100%;height: 500px;position: relative;overflow: hidden;padding: 15px 0;}
#foot .left{width: 120%;height: 100%;transform: rotate(13deg); transform-origin: top left;background: #333333;position: absolute;top: 4%;z-index: 5;}

#foot .left p{width: 100%;height: 50px;background: #373737;margin: 3% 0;}
#foot .left i{display: block;height: 5px;width: 50%;background: #fc6717;    position: absolute;top: 10%;right: 0;}
#foot .left span{display: block;width: 70%;height: 5px;background: #333;position: absolute;top: -4%;left: 0}
#foot .right{position: absolute;top: 10%;right: 0;}

@media all and (max-width: 1300px) {
    .content .main{width: 700px;height: 700px;}
    #foot .left{top: 41%}
    .brief-lft p{overflow: hidden;}
    .brief-right .box{width: 300px;height: 300px;}
    .content .main>div:nth-of-type(3){top: -15%}
}
@media all and (max-width: 900px) {
    .content .main{width: 500px;height: 500px;}
    #foot .left{top: 50%}
    .brief-right .box{width: 300px;height: 300px;}
    .content .main>div:nth-of-type(2){display: none;}
    .content .main>div:nth-of-type(3){margin-top: 30%}
    .content .main>div:nth-of-type(1) .box{width: 140px;height: 140px;}
    .content .main>div:nth-of-type(1) p:nth-of-type(1) em{left: -44%}
    .content .main>div:nth-of-type(1) p{left: 20%;font-size: 12px;}
    .content .main>div:nth-of-type(3) p{width: 50%;right: 0;font-size: 12px;}
    .content .main>div:nth-of-type(3) p:nth-of-type(1) em{top: 35%;left: -90%}
    /*.content .main>div:nth-of-type(3) .box{width: 140px;height: 140px;}*/
    .
}
@media all and (max-width: 720px) {
    .content .main{width: 400px;height: 400px;}
    .brief-right,#brief .main_bottom{display: none;}
    .brief-lft{width: 100%}
    #brief{ border-bottom: 20px solid #333;}
    .content .main>div .box span{width: 100px;height: 20px;}
}
@media all and (max-width: 500px) {
    .content .main>div:nth-of-type(3){display: none;}
    .content .main{width: 300px;height: 300px;}
    .content .main>div{left: -15%}
    .content .main>div:nth-of-type(1) p{left: 30%}
    .content .main>div:nth-of-type(1) p:nth-of-type(1) em{left:-71%}
    #foot .left{top: 70%;}
}
/*@media all and (max-width: 1300px) {
    .content .main{width: 700px;height: 700px;}
    .brief-right .box{width: 300px;height: 300px;}
}

@media all and (max-width: 1300px) {
    .content .main{width: 700px;height: 700px;}
    .brief-right .box{width: 300px;height: 300px;}
}

@media all and (max-width: 1300px) {
    .content .main{width: 700px;height: 700px;}
    .brief-right .box{width: 300px;height: 300px;}
}

@media all and (max-width: 1300px) {
    .content .main{width: 700px;height: 700px;}
    .brief-right .box{width: 300px;height: 300px;}
}

@media all and (max-width: 1300px) {
    .content .main{width: 700px;height: 700px;}
    .brief-right .box{width: 300px;height: 300px;}
}

v
@media all and (max-width: 1300px) {
    .content .main{width: 700px;height: 700px;}
    .brief-right .box{width: 300px;height: 300px;}
}*/

